body {
  background: #f6f6f6;
  color: #444;
  font-family: "Open Sans";
  font-weight: 300;
}

.center {
  @include center;
}

.hidden {
  @include hidden;
}

.panel_content {
  padding: 30px;
}

.wrap {
  @include container;
}

section {
  // layout
  @include span-columns(12 omega, 12);

  &.about {
    p {
      line-height: 24px;
    }

    .content_left {
      @include span-columns(8, 12);
    }

    .content_right {
      @include span-columns(4 omega, 12);
    }
  }

  &.landing {
    padding: 100px 0;

    header {
      p {
        font-size: 45px;
      }
    }

    &.abs {
      position: relative;

      .wrap {
        &:before {
          color: darken(#f6f6f6, 3%);
          font-size: 800px;
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: -1;
        }
      }
    }
  }

  &.introduction {
    background-color: #3498db;
    color: #fff;

    a {
      color: #fff;
      text-decoration: none;
    }

    section {
      &.contact {
        @include span-columns(4 omega, 12);
      }

      &.contact, &.skillset, &.work {
        @include center;
      }

      &.knob, &.work {
        @include span-columns(4, 12);
      }
    }
  }
}