@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  display: inline-block;
  font-family: 'entypo', sans-serif;
  margin-right: 20px;
}

p {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald";
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 32px;
  font-weight: 900;
}

h2 {
  font-weight: 700;
}

small {
  font-family: "Open Sans Condensed";
  font-weight: 300;
}

.landing {
  span {
    font-family: "Oswald";
  }
}

.icon {
  font-size: 55px;

  &:before {
    @include transition(all 0.2s ease-in-out);
  }

  &:hover {
    &:before {
      -webkit-animation: icon_hover 2s 1;
      -moz-animation: icon_hover 2s 1;
      -o-animation: icon_hover 2s 1;
      animation: icon_hover 2s 1;
    }
  }
}