---
title: Welcome to Middleman
---

%section.landing.introduction
  .wrap
    %header
      %p
        %span
          Hi, I'm Ian.
        I'm a front-end web developer based in London, with over 3 years experience.
        .center.clearfix
          = link_to(content_tag(:span, "Blah", class: "hidden"), "#", class: "entypo-down-circled icon")

    %section.work
      %h1.entypo-keyboard See my work
      %small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, est, optio, amet, perferendis cupiditate inventore.

    %section.skillset
      %h1 See my skill set.
      %small It's huge, really.

    %section.contact.last
      %h1.entypo-chat Get in touch
      %small I'd like that.

%section.landing.abs
  .wrap.entypo-pencil
    %header
      %p
        %span
          This is my craft.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, eaque numquam ex cupiditate voluptatum quos voluptas.
    %section.about
      .content_left
        %h1 About me
        %p
          Morbi rutrum, elit ac fermentum egestas, tortor ante vestibulum est, eget scelerisque nisl velit eget tellus. Fusce porta facilisis luctus. Integer neque dolor, rhoncus nec euismod eget, pharetra et tortor. Nulla id pulvinar nunc. Vestibulum auctor nisl vel lectus ullamcorper sed pellentesque dolor eleifend. Praesent lobortis magna vel diam mattis sagittis. Mauris porta odio eu risus scelerisque id facilisis ipsum dictum.
          %br
          %br
          Vitae volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar neque eu purus sollicitudin et sollicitudin dui ultricies. Maecenas cursus auctor tellus sit amet blandit. Maecenas a erat ac nibh molestie interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed lorem enim, ultricies sed sodales id, convallis molestie ipsum. Morbi eget dolor ligula. Vivamus accumsan rutrum nisi nec elementum. Pellentesque at nunc risus. Phasellus ullamcorper bibendum varius.
      .content_right
        %h1 Skills
        %p Blah
        %br
        %p HTML
        %br
        %p CSS
