---
title: The Barge House
---

%header.main
  .wrap
    .panel_content
      %ul
        %li= link_to "Home", "/"

.hero
  .wrap

.wrap
  .main_content
    %section.introduction
      .panel_content.center
        %h1.gv The Barge House, Haggerston
        %h2.eta A Fresh House on the Canal

    .divider
      = image_tag("divider.png", alt: "Divider" )

    %section.menu
      .panel_content
        .column.one
          %h2.gv.gamma Grazing boards
          %ul
            %li
              .sharing
                For 1:
                %em 9.50
                %br
                For 2:
                %em 18.00
            %li
              Andalucian charcuterie:
              %br
              Jamon Iberico, chorizo, smoked black pudding & peppered salami
            %li
              Andalucian cheeses:
              %br
              Curado Oveja in rosemary, Oveja paprika, Dona Manuela & Membrillo
            %li
              .menu_item
                Grilled Asparagus, oyster mushrooms & tomato Provençale
              %em.price
                12.00
        .column.two
          %h2.gv.gamma Bites at the bar
          %ul
            %li
              .menu_item
                Grilled Asparagus with chopped egg & paprika sauce
              %em.price
                6.00
            %li
              .menu_item
                Tomato Provençale crostini
              %em.price
                3.00
            %li
              .menu_item
                Bavette open sandwich served with salad
              %em.price
                9.50
            %li
              .menu_item
                Scallops with cauliflower puree, caper and raison sauce
              %em.price
                8.50
            %li
              .menu_item
                Feta, steak and Rocket salad
              %em.price
                7.00
        .column.three
          %h2.gv.gamma After 5pm
          %ul
            %li
              .menu_item
                Baked Mackerel with new potatoes mash with saffron sauce
              %em.price
                8.50
            %li
              .menu_item
                Bavette steak served with new potatoes or salad
              %em.price
                12.50
            %li
              .menu_item
                Cauliflower steak served on cauliflower puree with basil, pesto
              %em.price
                6.50
            %li
              .menu_item
                Dark, dirty & delicious Mousse au chocolate
              %em.price
                4.50
            